{:cookie-name "rebujito-cookie"

 :env-type  #profile {:dev :dev
                      :test :test
                      :prod :prod}

 :yada {:base-url #profile {:prod "/starbucks/api/v1"
                            :default "/starbucks/v1"
        :port #or [#env REBUJITO_YADA_PORT 3000]}

 :auth {:secret-key #or [#env REBUJITO_AUTH_SECRET_KEY "fake-secret-key"]}

 :api {:key "6368f6919ad04192ecb9a8cc4bf9"
       :secret "5fcf0bb6b0738aeaadec934cbb10c68b1140ab494a466e79f9a66d679edb72d5"}

 :mimi {:base-url "https://api.swarmloyalty.co.za/mimi/starbucks"
        :token #profile {:dev "fake-token"
                         :test #env REBUJITO_MIMI_TOKEN
                         :prod #env REBUJITO_MIMI_TOKEN}}

 :mongo {:host "localhost"
         :port 27017
         :database "rebujito"
         #_:user #_{:username "juan"
                    :password "juan"}}

 :payment-gateway {:paygate {:paygateId "10011064270"
                             :paygatePassword "test"
                             :url "https://secure.paygate.co.za/payhost/process.trans"}}}
