{:cookie-name "rebujito-cookie"

 :env-type #profile {:dev :dev :test :test :prod :prod}

 :yada {:base-url #profile {:prod "/starbucks/api/v1"
                            :default "/starbucks/v1"}
        :port #or [#env REBUJITO_YADA_PORT #profile {:prod 3023
                                                     :default 3000}]}

 :auth {:secret-key #or [#env REBUJITO_AUTH_SECRET_KEY #profile {:prod nil
                                                                 :default "fake-key"}]}

 :mimi {:base-url "https://api.swarmloyalty.co.za/mimi/starbucks"
        :token #or [#env REBUJITO_MIMI_TOKEN #profile {:prod nil
                                                       :default "fake-token"}]}

 :api {:key "w8tnxd8h2wns43cfdgmt793j"
       :secret "KDRSRVqKHp5TkKvJJhN7RYkE"}

 :mongo {:host "localhost"
         :port 27017
         :database "rebujito"}

 :payment-gateway {:paygate {:paygateId "10011064270"
                             :paygatePassword "test"
                             :url "https://secure.paygate.co.za/payhost/process.trans"}}}
