{
 :cookie-name "rebujito-cookie"

 :env-type  #profile {:dev :dev
                      :test :test
                      :prod :prod}
 :yada {:port 3000}

 :mimi {:base-url "https://api.swarmloyalty.co.za"}

 #_:mongo #_{
         :host "localhost"
         :port 27017
         :database "documents"

         :user {:username "juan"
                :password "juan"}}

 :secrets #include #join [#env HOME "/.secrets.edn"]
 :greeting "World!"

 :aws-secret-access-key
 #profile {:test ^:ref [:secrets :aws-secret-access-key]
           :prod ^:ref [:secrets :aws-secret-access-key]}}
