<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="subject" content="IMPORTANT INFORMATION REGARDING YOUR STARBUCKS CARD SUBSCRIPTION">
  </head>
  <body>

    <div>
    <p>
    Thank you for using your Starbucks Card. The following message provides information regarding your Starbucks Card Automatic Reload account.</p>

    <p><strong>*** UNABLE TO OBTAIN AUTHORIZATION ON THE CREDIT CARD ACCOUNT ASSOCIATED WITH THIS AUTOMATIC RELOAD ACCOUNT. ***</strong></p>

    <p>
    We are unable to obtain authorization on the credit card or PayPal account associated with this account. As a result, Automatic Reload has been suspended on this account. If you would like to associate a different payment method with your automatic reload account, please perform the following steps:
    </p>

    <p>
    1) Visit <a href="https://www.starbucks.com/account/home">Starbucks/Account</a> to sign into your Starbucks.com account<br/>
    2) Click on the "Manage My Account" button<br/>
    3) Click on "Set Auto-Reload"<br/>
    4) Click on "Use a different payment method"<br/>
    5) Click on "edit" or "Add a new payment method<br/>
    </p>

    <p>
    If you have questions about your Starbucks Card account, please contact us by calling us at 1-800-782-7282. Our customer service representatives can be reached by phone Monday - Friday, 5AM - 8PM (PST)and Saturday - Sunday, 6am - 4pm (PST).</p>

    <p>
    For additional information regarding the Starbucks Card, please visit our FAQ area at <a href="http://www.starbucks.com/customer-service/faqs/card">Starbuck Card Frequently Asked Questions</a></p>

    </div>


  </body>
</html>
