<style>
table {
	margin: auto;
}
.topbar {
    height: 20px;
    background: #006341;
}

.greet {
    height: 40px;
    background: #f7f7f7;
    text-align: center;
}
.main {
	text-align: justify;
}
.footer{
	height: 20px;
	background: #f0f0f0;
}
</style>
<table width="600px">
    <thead>
        <tr class="topbar">
            <td></td>
        </tr>
        <tr class="greet">
            <td>
                <h1>Verify Email</h1></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="main">
            	Congratulations.
            	<br /><br />
							  You have successfully registered for the Starbucks Rewards program.
                Please click on the link below to verify your email, and follow the instructions
								to add payment information
                <br />
                <a href="{{link}}">Verify email</a>
            </td>
        </tr>
        <tr class="footer">
					<td>
						<span style="color: red">TODO: Please note that this email template is still awaiting final confirmation on wording and design from Taste Holdings.</span>
					</td>
				</tr>
    </tbody>
</table>
